{% extends 'base.html.twig' %}
{% trans_default_domain 'edit' %}

{% block title %}{{ 'edit.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.edit'|trans }}</h1>

    {{ include('bottle/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('bottle_index') }}">{{ 'edit.backtolist'|trans }}</a>

    {{ include('bottle/_delete_form.html.twig') }}
{% endblock %}
