{% extends 'base.html.twig' %}

{% block title %}{{ 'bottle.page_title'|trans }}{% endblock %}

{% trans_default_domain 'bottle' %}

{% block body %}
    <h1>{{ 'bottle.title'|trans }}</h1>

    <div>
        <a href="{{ path('bottle_list_by_category', { slug: 'vins' }) }}">{{ 'bottle.vins'|trans }}</a>
        <a href="{{ path('bottle_list_by_category', { slug: 'alcool-fort' }) }}">{{ 'bottle.alcoolFort'|trans }}</a>
        <a href="{{ path('bottle_list_by_category', { slug: 'sans-alcool' }) }}">{{ 'bottle.sansAlcool'|trans }}</a>
        <a href="{{ path('bottle_index') }}">{{ 'bottle.allTypes'|trans }}</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'bottle.name'|trans }}</th>
                <th>{{ 'bottle.quantity'|trans }}</th>
                <th>{{ 'bottle.type'|trans }}</th>
                <th>{{ 'bottle.misebout'|trans }}</th>
                <th>{{ 'bottle.region'|trans }}</th>
                <th>{{ 'bottle.action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for bottle in bottles %}
            <tr>
                <td>{{ bottle.name }}</td>
                <td>{{ bottle.quantity }}</td>
                <td>{{ bottle.type.type }}</td>
                <td>{{ bottle.misebout ? bottle.misebout|date('Y') : '' }}</td>
                <td>{{ bottle.region }}</td>
                <td>
                    <a href="{{ path('bottle_show', {'slug': bottle.slug}) }}">{{ 'bottle.show'|trans }}</a>
                    <a href="{{ path('bottle_edit', {'slug': bottle.slug}) }}">{{ 'bottle.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'bottle.nofound'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bottle_new') }}">{{ 'bottle.createnew'|trans }}</a>
    <a href="{{ path('index') }}">{{ 'bottle.return'|trans }}</a>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        {{ 'bottle.logout'|trans }}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'bottle.logout'|trans }}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'bottle.modal'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'bottle.no'|trans }}</button>
                    <a href="{{ path('app_logout') }}" class="btn btn-primary">{{ 'bottle.yes'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}