{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
                crossorigin="anonymous"></script>

        <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
    </head>
    <body>
    <header>
            <h1>{{ 'app.title'|trans }}</h1>
    </header>
    <main>
        {% block body %}
            {% if app.user is not null %}
                <a href="{{ path('app_logout') }}">{{ 'app.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('app_login') }}">{{ 'app.login'|trans }}</a>
                <a href="{{ path('app_register') }}">{{ 'app.register'|trans }}</a>
            {% endif %}
        {% endblock %}
    </main>
    <footer>
        <p>&nbsp;©BoutStock {{ "now"|date("Y") }}</p>
    </footer>
    </body>
</html>
